.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

@import 'src/@fuse/scss/fuse';

#knowledgebase {
  .header {
    flex: 1 0 auto;
    height: 280px;
    max-height: 280px;
    background: #1a237e;
    background: linear-gradient(to right, #0e2a3b 0%, #34306b 100%);

    @include media-breakpoint('xs') {
      height: 240px;
      padding: 16px;
    }

    .hero-text {
      h1 {
        color: white;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 0.01em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;

        @include media-breakpoint-down('xs') {
          font-size: 24px;
        }
      }
    }
  }

  .content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    .articles-list {
      width: 400px;
      min-width: 400px;
      margin: 16px;
      padding: 16px;

      @include media-breakpoint-down('xs') {
        min-width: 300px;
        margin: 16px 0;
      }

      .mat-list-item {
        text-decoration: none !important;

        .mat-list-item-content {
        }
      }

      .see-all-link {
        font-size: 14px;
      }
    }
  }
}

.btn {
  color: white;
  cursor: pointer;
  border-style: solid;
  padding: 10px;
}
