<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/persons/adults'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="person.image" [src]="person.image">
                    <img *ngIf="!person.image" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{person.firstName}} {{person.lastName}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Person
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Details</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="personForm.invalid" *ngIf="pageType ==='new'"
                (click)="addPerson()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="personForm.invalid || personForm.pristine"
                *ngIf="pageType ==='edit'" (click)="savePerson()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <!-- <form name="personForm" [formGroup]="personForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Personal Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput name="" formControlName="firstName" placeholder="First Name" required>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <textarea matInput name="" placeholder="Product Description" rows="5">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">

                                    <mat-chip-list #categoryList name="" formControlName="">

                                        <mat-chip *ngFor="let group of person.groups" [removable]="true" (removed)="removeGroup(person, group)">
                                            {{group}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input placeholder="Groups" [matChipInputFor]="" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addGroup($event)"
                                        />

                                    </mat-chip-list>

                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Professional">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput name="" formControlName="" placeholder="" type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput name="" formControlName="" placeholder="" type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput name="" formControlName="" placeholder="" type="number">
                                    <span matPrefix>&#37;</span>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput name="" formControlName="" placeholder="" type="number">
                                    <span matPrefix>$&nbsp;</span>
                                    <mat-hint align="start">Add a compare price to show next to the real price
                                    </mat-hint>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form> -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>