<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="" target="_blank" mat-button class="mat-pink-bg" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">cloud_queue</mat-icon>
            <span>ECG</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button target="_blank">Copyright &copy; Enlightened Christian Gathering</a>
        </div>

    </div>

</mat-toolbar>